.DufDiv{
float:left;
width:100%;
}

.CallTime{
border-bottom:1px solid #CCCCCC;
margin-bottom:10px;
}

.TimeTamp{
float:left;
width:65%;
font-size:25px;
}

.EmpName{
float:left;
width:30%;
padding-top:10px;
font-size:15px;
text-align:right;
}

.TCustinfo{
font-weight:bold;
font-size:14px;
border:1px solid rgba(0, 0, 0, 0.2);
-webkit-border-radius: 9px;
-moz-border-radius: 9px;
border-radius: 9px;
padding:10px;
background-color: rgba(0, 255, 0, 0.2);
margin-bottom:10px;
}
.TNotes{
font-size:15px;
border-bottom:1px solid #CCCCCC;
margin-bottom:10px;
padding-bottom:10px;
text-align:right;

}

 
.XTT{
 
}


