.prolist_style{padding:0px!important;}
.prolist_style textarea_x{ height:400px;}
.prolist_styleX{ background-color:#996633}
#amenities_id{
float:left;
width:100%;
min-height:100px;
}


.prolist_style textarea{ font-size:12px; font-family:Arial, Helvetica, sans-serif}

.hanananan { float:left;
width:500px;
height:50px;
font-size:15px
}



.moredes_style textarea{ font-size:15px; height:450px;}

